

&i2c3 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c3m0_xfer>;

vm149c_3: vm149c_3@0c { 
	compatible = "silicon touch,vm149c";
	status = "okay";
	reg = <0x0c>;
	rockchip,vcm-start-current = <20>; // 马达的启动电流
	rockchip,vcm-rated-current = <100>; // 马达的额定电流
	rockchip,vcm-step-mode = <13>; // 马达驱动 ic 的电流输出模式
	rockchip,camera-module-index = <3>; // 模组编号
	rockchip,camera-module-facing = "back"; // 模组朝向，有"back"和"front"
};

  
    gc8034_3: gc8034_3@37 {
        compatible = "galaxycore,gc8034";
        status = "okay";
        reg = <0x37>;
        lens-focus = <&vm149c_3>; 
        clocks = <&cru CLK_MIPI_CAMARAOUT_M4>;
        clock-names = "xvclk";
        power-domains = <&power RK3588_PD_VI>;
        pinctrl-names = "default";
        pinctrl-0 = <&mipim0_camera4_clk>;
        rockchip,grf = <&sys_grf>;
        pwdn-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_LOW>;
        rockchip,camera-module-index = <3>;
        rockchip,camera-module-facing = "back";
        rockchip,camera-module-name = "RK-CMK-8M-2-v1";
        rockchip,camera-module-lens-name = "CK8401-4";
        
 port {
            gc8034_out3: endpoint {
                remote-endpoint = <&mipi_in_ucam3>;
                data-lanes = <1 2 3 4>;
            };
        };
    };
};

&csi2_dphy1_hw {
    status = "okay";
};

&csi2_dphy3 {
    status = "okay";
    ports {
        #address-cells = <1>;
        #size-cells = <0>;
        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;
            mipi_in_ucam3: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&gc8034_out3>;
                data-lanes = <1 2 3 4>;
            };
        };
        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;
            csidphy1_out: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&mipi4_csi2_input>;
            };
        };
    };
};

&mipi4_csi2 {
    status = "okay";
    ports {
        #address-cells = <1>;
        #size-cells = <0>;
        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;
            mipi4_csi2_input: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&csidphy1_out>;
            };
        };
        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;
            mipi4_csi2_output: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&cif_mipi_in4>;
            };
        };
    };
};


&rkcif_mipi_lvds4 {
    status = "okay";
    port {
        cif_mipi_in4: endpoint {
            remote-endpoint = <&mipi4_csi2_output>;
        };
    };
};

&rkcif_mipi_lvds4_sditf {
    status = "okay";
    port {
        mipi4_lvds_sditf: endpoint {
            remote-endpoint = <&isp0_vir1>;
        };
    };
};

&rkisp0 {
    status = "okay";
};

&isp0_mmu {
    status = "okay";
};

&rkisp0_vir1 {
    status = "okay";
    port {
        #address-cells = <1>;
        #size-cells = <0>;

        isp0_vir1: endpoint@0 {
            reg = <0>;
            remote-endpoint = <&mipi4_lvds_sditf>;
        };
    };
};

