
/ {
    wireless_bluetooth: wireless-bluetooth {
        compatible = "bluetooth-platdata";
        clocks = <&hym8563>;
        clock-names = "ext_clock";
        uart_rts_gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_LOW>;
        pinctrl-names = "default", "rts_gpio";
        pinctrl-0 = <&uart9m0_rtsn>, <&bt_gpio>;
        pinctrl-1 = <&uart9_gpios>;
        BT,reset_gpio    = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
        BT,wake_gpio     = <&gpio2 RK_PB3 GPIO_ACTIVE_HIGH>;
        BT,wake_host_irq = <&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    wireless_wlan: wireless-wlan {
        compatible = "wlan-platdata";
        wifi_chip_type = "ap6275p";
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_host_wake_irq>, <&wifi_poweren_gpio>;
        WIFI,host_wake_irq = <&gpio0 RK_PB0 GPIO_ACTIVE_HIGH>;
        WIFI,poweren_gpio = <&gpio0 RK_PB2 GPIO_ACTIVE_HIGH>;  
        status = "okay";
    };

    bt-sound {
        compatible = "simple-audio-card";
        simple-audio-card,format = "dsp_a";
        simple-audio-card,bitclock-inversion = <1>;
        simple-audio-card,mclk-fs = <256>;
        simple-audio-card,name = "rockchip,bt";
        simple-audio-card,cpu {
                // sound-dai = <&sai2>;
                sound-dai = <&i2s2_2ch>;
        };

        simple-audio-card,codec {
                sound-dai = <&bt_sco 1>;
        };
    };

    bt_sco: bt-sco {
        compatible = "delta,dfbmcs320";
        #sound-dai-cells = <1>;
        status = "okay";
    };
};

&i2s2_2ch {
    status = "okay";
     pinctrl-names = "default", "idle", "clk";
     pinctrl-0 = <&i2s2m0_sdi
                  &i2s2m0_sdo>;
     pinctrl-1 = <&i2s2m0_idle>;
     pinctrl-2 = <&i2s2m0_lrck
                  &i2s2m0_sclk>;

};

&combphy1_ps {
        status = "okay"; 
};
                
&pcie2x1l0 {    
        phys = <&combphy1_ps PHY_TYPE_PCIE>;
        reset-gpios = <&gpio1 RK_PB4 GPIO_ACTIVE_HIGH>;
        vpcie3v3-supply = <&vcc3v3_pcie30>;
        status = "okay";
};

&uart9 {
    status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&uart9m0_xfer &uart9m0_ctsn>;
};


&pinctrl {
        wireless-bluetooth {
                uart9_gpios: uart9-gpios {
                        rockchip,pins = <4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
                };
                bt_gpio: bt-gpio {
                        rockchip,pins =
                                <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>,
                                <2 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>,
                                <2 RK_PB0 RK_FUNC_GPIO &pcfg_pull_down>;
                };
        };

        wireless-wlan {
                wifi_host_wake_irq: wifi-host-wake-irq {
                        rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_down>;
                };

                wifi_poweren_gpio: wifi-poweren-gpio {
                        rockchip,pins = <0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
                };
        };
};
