
/{
	sdio_pwrseq: sdio-pwrseq {
                compatible = "mmc-pwrseq-simple";
                clocks = <&rk817 1>;
                clock-names = "ext_clock";
                pinctrl-names = "default";
                pinctrl-0 = <&wifi_enable_h>;

                /*
                 * On the module itself this is one of these (depending
                 * on the actual card populated):
                 * - SDIO_RESET_L_WL_REG_ON
                 * - PDN (power down when low)
                 */
                post-power-on-delay-ms = <100>;
                reset-gpios = <&gpio1 RK_PC7 GPIO_ACTIVE_LOW>;
        };

	wireless-wlan {
                compatible = "wlan-platdata";
                rockchip,grf = <&sys_grf>;
                wifi_chip_type = "ap6275s";
                pinctrl-names = "default";
                pinctrl-0 = <&wifi_host_wake_irq>;
                WIFI,host_wake_irq = <&gpio1 RK_PD0 GPIO_ACTIVE_HIGH>;
//		WIFI,poweren_gpio = <&gpio1 RK_PC7 GPIO_ACTIVE_HIGH>;
                status = "okay";
        };

        wireless-bluetooth {
                compatible = "bluetooth-platdata";
                clocks = <&rk817 1>;
                clock-names = "ext_clock";
                //wifi-bt-power-toggle;
                uart_rts_gpios = <&gpio1 RK_PD3 GPIO_ACTIVE_LOW>;
                pinctrl-names = "default", "rts_gpio";
                pinctrl-0 = <&uart1m0_rtsn>, <&bt_gpio>;
                pinctrl-1 = <&uart1_gpios>;
                BT,reset_gpio    = <&gpio2 RK_PA1 GPIO_ACTIVE_HIGH>;
                BT,wake_gpio     = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
                BT,wake_host_irq = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;
                status = "okay";
        };

	bt-sound {
                compatible = "simple-audio-card";
                simple-audio-card,format = "dsp_a";
                simple-audio-card,bitclock-inversion = <1>;
                simple-audio-card,mclk-fs = <256>;
                simple-audio-card,name = "rockchip,bt";
                simple-audio-card,cpu {
                        sound-dai = <&sai2>;
                };

                simple-audio-card,codec {
                        sound-dai = <&bt_sco 1>;
                };
        };

        bt_sco: bt-sco {
                compatible = "delta,dfbmcs320";
                #sound-dai-cells = <1>;
                status = "okay";
        };
};

&sdmmc1 {
        max-frequency = <150000000>;
        no-sd;
        no-mmc;
        bus-width = <4>;
        disable-wp;
        cap-sd-highspeed;
        cap-sdio-irq;
        keep-power-in-suspend;
        mmc-pwrseq = <&sdio_pwrseq>;
        non-removable;
        num-slots = <1>;
        supports-sdio;
        pinctrl-names = "default";
        pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
        sd-uhs-sdr104;
        status = "okay";
//      post_power_on_delay_ms = <100>;
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer &uart1m0_ctsn>;
};

&sai2 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&i2s2m0_lrck
                     &i2s2m0_sclk
                     &i2s2m0_sdi
                     &i2s2m0_sdo>;
};

&pinctrl {
	wireless-wlan {
        	wifi_host_wake_irq: wifi-host-wake-irq {
            		rockchip,pins = <1 RK_PD0 RK_FUNC_GPIO &pcfg_pull_down>;
        	};
		wifi_enable_h: wifi-enable-h {
                        rockchip,pins = <1 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
                };
    	};

    	wireless-bluetooth {
		bt_gpio: bt-gpio {
                        rockchip,pins =
                                <2 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>,
                                <3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>,
                                <3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_down>;
                };
        	uart1_gpios: uart1-gpios {
            		rockchip,pins = <1 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
        	};
    	};
};
