RK_YOCTO_CFG="rockchip-rk3588-evb"
RK_KERNEL_DTS_NAME="rk3588/dr4-rk3588"
RK_USE_FIT_IMG=y
RK_WIFIBT_TTY="ttyS9"
RK_ROOTFS_SYSTEM_DEBIAN=y
RK_KERNEL_CFG_FRAGMENTS="rk3588_linux.config rockchip_wifi_builtin.config"
